* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  color: #333;
}

html,
body {
  height: 100%;
  font-size: 1em;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #111;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #222;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  text-decoration: underline;
  color: #00C;
}

ul {
  margin: 1em 0;
  padding: 0 0 0 1em;
}

ul li {
  list-style-type: disc;
}

.button {
  background-color: #00C;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  border-radius: 0.5rem;
}
.button:hover {
    background-color: #008;
}

.empty {
    margin: 1em 0;
    font-weight: 700;
}